<div class="datatable">
    <table datatable [dtOptions]="dtOptions"  class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th></th>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>DOB</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>1</td>
                <td>Foo</td>
                <td>Bar</td>
                <td>01/23/1983</td>
            </tr>
            <tr>
                <td></td>
                <td>2</td>
                <td>Someone</td>
                <td>Youknow</td>
                <td>02/23/1983</td>
            </tr>
            <tr>
                <td></td>
                <td>3</td>
                <td>Iamout</td>
                <td>Ofinspiration</td>
                <td>01/26/1978</td>
            </tr>
            <tr>
                <td></td>
                <td>4</td>
                <td>Yoda</td>
                <td>Skywalker</td>
                <td>02/25/1984</td>
            </tr>
            <tr>
                <td></td>
                <td>5</td>
                <td>Patrick</td>
                <td>Dupont</td>
                <td>06/27/1983</td>
            </tr>
            <tr>
                <td></td>
                <td>6</td>
                <td>Barack</td>
                <td>Obama</td>
                <td>06/26/1976</td>
            </tr>
            <tr>
                <td></td>
                <td>7</td>
                <td>François</td>
                <td>Holland</td>
                <td>02/26/1976</td>
            </tr>
            <tr>
                <td></td>
                <td>8</td>
                <td>Michel</td>
                <td>Popo</td>
                <td>04/15/1995</td>
            </tr>
            <tr>
                <td></td>
                <td>9</td>
                <td>Chuck</td>
                <td>Norris</td>
                <td>04/16/1994</td>
            </tr>
            <tr>
                <td></td>
                <td>10</td>
                <td>Simon</td>
                <td>Robin</td>
                <td>04/14/1965</td>
            </tr>
            <tr>
                <td></td>
                <td>11</td>
                <td>Louis</td>
                <td>Lin</td>
                <td>07/07/1975</td>
            </tr>
            <tr>
                <td></td>
                <td>12</td>
                <td>Zelda</td>
                <td>Link</td>
                <td>12/01/1984</td>
            </tr>
        </tbody>
    </table>
</div>
